mixin sort()
    div(sort)
        select(
            class="form-control"
            name="sort"
            sort-select
        )
            option(value="position-desc") Descent Position
            option(value="position-asc") Ascent Position 
            option(value="price-desc") Descent Price 
            option(value="price-asc") Ascent Price
            option(value="title-desc") A - Z 
            option(value="title-asc")  Z - A   

        button(
            class="btn btn-danger mt-2"
            sort-clear
        ) Clear